.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.footer {
  bottom: 0;
  font-size: 13px;
  left: 50%;
  opacity: .9;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.form-autocomplete .menu {
  left: 60%;
  position: absolute;
  top: 100%;
  width: 40%;
}
/* .menu {
  border:1px solid #000000;
} */
html, body {margin:0;padding:0;height:100%;}
input[type=text] {
  padding-top:10px;
}
.text {
  padding: 10px;
  top: 41px;
  /* left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%; */
  overflow: auto;
  word-wrap: break-word;
}
webview {
  /* background-color: #FFFFFF; */
  /* color: #000000; */
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
}
.webview-right {
  /* background-color: #FFFFFF; */
  /* color: #000000; */
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  left:50%;
  width:50%;
  /* right: 0; */
  /* bottom: 0; */
}
p {
  display: inline;
  margin:0
}
pre {
  line-height: 18px;
}


#app {
  background-color: #040004;
  color: #FA023C;
  font-family: 'Inconsolata', monospace;
  height:100%;
}
.input-group {
  background-color:#000000;
}
.form-input {
  background-color: #040004;
  color: #C8FF00;
  border:0;
  top:2px;
  margin-top:-2px;
  border-bottom: 1px dashed #413D3D;
}
.btn.btn-primary {
  background-color: #FA023C;
  border-color    : #FA023C;
  color           : #000000;
}
.btn.btn-primary:hover,.btn.btn-primary:focus {
  background-color: #E10023;
  border-color    : #E10023;
  color           : #000000;
}
.btn.btn-primary:active {
  background-color: #E10023;
  border-color    : #E10023;
  color           : #FFFFFF;
}
